/* GLOBAL */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg, #0f172a, #020617);
  color: white;
}

/* CENTER WRAPPER */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* GLASS */
.glass {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  box-shadow: 0 10px 50px rgba(0,0,0,0.6);
}

/* LOGIN CARD */
.card {
  width: 350px;
  padding: 30px;
  animation: fadeIn 0.6s ease;
}

/* BRAND */
.brand {
  text-align: center;
  margin-bottom: 20px;
}

.brand h1 {
  margin: 0;
  font-size: 24px;
}

.brand p {
  font-size: 13px;
  color: #94a3b8;
}

/* INPUT */
input {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #0f172a;
  color: white;
  transition: 0.2s;
}

input:focus {
  box-shadow: 0 0 0 2px #6366f1;
}

/* BUTTON */
button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  background: #6366f1;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #4f46e5;
}

/* ERROR */
.error {
  color: #f87171;
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
}

/* QUIZ HEADER */
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.exam-title {
  font-weight: bold;
}

#timer {
  color: #f87171;
}
.option {
  padding: 14px;
  margin-top: 10px;
  border-radius: 12px;
  background: rgba(255,255,255,0.05);
  cursor: pointer;
  transition: 0.25s;
}

.option:hover {
  background: rgba(99,102,241,0.2);
  transform: translateX(4px);
}

.option.selected {
  background: linear-gradient(135deg, #6366f1, #8b5cf6);
}
/* ANIMATION */
@keyframes fadeIn {
  from {opacity: 0; transform: translateY(10px);}
  to {opacity: 1;}
}

/* MOBILE */
@media(max-width:768px){
  .card { width: 90%; }
}
